.subMenuLink{
    margin-left: 40px !important;
    margin-bottom: 15px !important;
}
.mainMenuLink{
    display: flex !important;
    justify-content: flex-start !important;
}
.spanDropDown{
    margin: 8px 15px 0px 34px;
}
.mainMenuText{
    width: 100px !important;
}